
html {
    box-sizing: border-box;
}
.top_rated{
    border: 2px outset grey;
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding-top: 2%;
    margin-left: auto;
    margin-right: auto;

}

.top_rated .movie {
text-align: center;
padding: 1%;
width: 100%;
}
.top_rated .movie .divImg img {
    text-align: center;
    display: block;
   
    border: 2px dashed goldenrod;
    border-radius: 10px;
    width: 80%;
    margin: auto;
    display: block;
    height: 80%;

}

.top_rated .movie .divImg {

    width: 90%;

 
}
.aboutMoviesLoad {
    padding-top: 1%;
    padding-left: 2%;
    padding-bottom: 2%;
    text-align: center;
    flex: 0.5;
}
.top_rated .aboutMoviesLoad{
    margin-bottom: 10%;
    display: block;
}
.top_rated  .aboutMoviesLoad p {
    display: block;
    padding: 0.1%;
    margin: 0.1%;
}

.top_rated p:last-child {

    display: none;

}
.load{
    font-size: 1.3rem;
    text-align: center;
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;

    background-color: goldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 1px inset grey;
    padding: 1%;
    
}
.load:hover{
    cursor: pointer;
}