.video {
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 2rem;
}

iframe {
    width: 40%;
    height: 50vh;
    margin: 2%;

}

body {
    background-color: url("../img/bg.jpg")
}

@media only screen and (max-width: 780px) {
    iframe {
        width: 100vw;
        margin: 0;
    }
}