*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.header, .footer{
    background-color: rgb(30, 27, 49);
    color: rgb(250, 250, 255);
}

.header{
    height: auto;
}

.logo{
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    text-align: center;
}
.logo img {
    width: 40%;
    height: 40%;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    display: inline;
    padding: 3%;
}

.navigationBar{
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 0;
    width: 65%;
    font-size: 2vw;
}
.navigationBar a {
    
}
.container {
    background-color: blanchedalmond;
    display: flex;
    width: 100%;
    height: 200px;
    flex-direction: column;
}



.search {
    display: inherit;
    padding: 2%;
    justify-content: center;

}
.filter {
    display: flex;
    padding: 2%;  
    justify-content: center;

}
.filter label {
    padding-right: 2%;
}
.page_num {
    display: flex;
    justify-content: center;
}
.page_num a{
    padding-right:1%;
    
}
.siteMap li {

  padding-bottom: 0;
  padding-top: 0;  

}

.footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
}

@media only screen and (max-width: 980px){
    .navigationBar{
        display: block;
        width: 100%;
        font-size: 3.5vw;
        padding: 2%;
        text-align: center;
    }
}

@media only screen and (max-width: 450px){
    .navigation li{
        display: block;
        width: 70%;
        font-size: 4.5vw;
    }

    .footer{
        font-size: 3.5vw;
    }
}