*{
    box-sizing: border-box;
}

body{
    font-family: "Courier New", Courier, monospace;
    margin: 0;
    padding: 0;
color:white;
}




.container {
    background-image: url('test2.jpeg.jpg');
background-size:cover;
    display: flex;
    width: 100%;
    height: auto;
}
.container::after{
    content: "";
    display: table;
    clear: both;
}
.column_left {
    background-image: url('test2.jpeg.jpg');
background-size:cover;
    flex: 4;
margin:2%;
margin-left:10%;

}
.column_right{
margin-right:15%;
margin-top:2%;
	text-align:center;
    background-color:transparent;
    flex: 0.5;
    flex-direction: column;
}

.best{

margin-top:2%;
border:2px outset grey;
border-radius:2%;

   
   
}

.fb-page {
border: 2px outset gray;
    padding: 2%;}
.facebook_feed {
    margin-top: 4%;
    margin-bottom: 4%;
}
.movie {
   
    flex: 1;
    padding: 2%;
}
.divImg {
    flex: 1;
}
.aboutMovies {
    flex: 1;
display:none;
}
.divImg img {
   width:100%;
    
    display: block;
    
}
.divImg img:hover {
  cursor: pointer;
    
}

.aboutMovies p:not(:first-child) {
    display: none;
}
.aboutMovies {
    align-self: center;
}
.modal_window {
   background-image: url('test2.jpeg.jpg');
background-size:cover;
    position: fixed;
    top: 5vh;
    left: 5vw;
    height: 90vh;
    width: 90vw;
    z-index: 1;
    display: none;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}
.modal_window span {
    background-color: darkred;
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2rem;
    position: fixed;
    top: 5vh;
    left: 5vw;
    font-size: 1.4rem;
    text-align: center;
}
.modal_window span:hover {
    cursor: pointer;
}
.modal_window_img  {
    padding-top: 5%;
   flex: 1;
}
.modal_window_img img {
    display: block;
    margin: auto;
 height: 90%;
}
.modal_windows_about {
    flex: 2;
}
.modal_windows_about p {
    font-size: 1.2rem;
}

.slider{
    border:2px inset grey;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    border-radius:2%;
        width: 100%;
          height: 24rem;
        position: relative;
    }
    
    .row{
        padding: 5%;
        width: 100%;
        height: 100%;
        display: none;
        margin: auto;
    }
    
    .element{
    margin-left:2%;
        height: 100%;
        width: 30.33%;
        display: none;
        background-size: cover;
    font-size:1rem;
    }
    .element button {
    font-size:1rem;
    }
    
    .readMore{
        /*position: relative;
        bottom: 0;
        right: 0;*/
        padding: 0;
        width: 40%;
        height: 14%;
        background-color: rgb(30, 27, 49);
        color: rgb(250, 250, 255);
        text-align: center;
    }
    
    #prev, #next{
        width: 20px;
        height: 50px;
        line-height: 50px;
        border-radius: 50%;
        font-size: 3vw;
        text-shadow: 0 0 20px rgba(0,0,0,0.6);
        text-align: center;
        text-decoration: none;
        position: absolute;
        top: 50%;
        color: white;
        cursor: pointer;
    align-self:center;
      }
    
      #prev {  
        left: 0;
      }
    
      #next {
        right: 0;
      }
    .element img {
     width: 100%; 
          height: 18rem;
    }
      .image{
          width: 100%; 
          height: 100%;
      }
    
      @media only screen and (max-width: 700px) {
          .facebook_feed {
              display: none;
          }
      }
@media only screen and (max-width: 500px) {
    #prev,#next {
        display: none;
    }
.column_right {
display:none;

}
.column_left{

margin:2%;
}

}
