* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width:100%;
}
a {
    text-decoration: none;
    color: white;
    display: block;
}

.header,
.footer {
    background-color: rgb(30, 27, 49);
    color: rgb(250, 250, 255);
}

.header {
    height: auto;
}

.logo {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
    text-align: center;
}

.logo img {
    width: 40%;
    height: 40%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline-block;
    padding: 3%;
}

.navigationBar a {

    text-decoration: none;
    color: white;

}

.navigationBar {
    display: inline-block;
    position: relative;
    right: 0;
    bottom: 0;
    width: 65%;
    font-size: 2vw;
}

.navigationBarPhone {display: none;}

.siteMap li {

    padding-bottom: 0;
    padding-top: 0;

}

.footer {
    position: none;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 1.5vw;
}
.navigationBarPhone {
    display: none;
}
@media only screen and (max-width: 980px) {
   
}

@media only screen and (max-width: 500px) {
    .navigationBar {
        display: inline-block;
        width: 100%;
        font-size: 3.5vw;
        padding: 2%;
        text-align: center;
    }
    .logo {
        display: block;
        margin: auto;
    }
    .navigationBar li {
        display: block;
    }
    .navigationBar li:hover {
        background-color: beige;
    }
    .navigationBar a {
        display: block;
        
    }
    .navigationBar li:not(:first-child) {
        display: none;
    }
    .navigationBarPhone {
        display: block;
    }
    .footer {
        font-size: 3.5vw;
    }
}